body{
  background-color: #F0D9FF;
  font-family: 'Josefin Sans', sans-serif;
  /* padding: 10px; */
}
/* About */
#about{
  background-color:#7868E6;
  line-height: 1.5;
font-family: 'Josefin Sans', sans-serif;
/* border-radius: 1%; */


}

.container-fluid{
  padding: 3% 10% 7%;
}
span{
  color: #FF7777;
  font-style: italic;
}
.info{
  font-size: 2rem;
}
.main{
  font-size: 2.9rem;
  font-weight: bolder;
  font-family:  'Josefin Sans', sans-serif;
}
.duvet{
  margin-top: 30px;
}
/* Navigation Bar */
.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;

}
.navbar{
  padding-bottom: 4.5rem;
  color: #FF7777;

}
.nav-link{
  font-size: 20px;
  font-weight: light;
}
.nav-item{
  padding-left: 18px;
  padding-right: 18px;
}
/* PRODUCTS */
img{
  border-radius: 5%;
}
.one{
  width: 75%;

}
.two{
  width: 70%;
}
.three{
  width: 75%;
}
.four{
  width: 75%;
}
.prod{
  text-align: center;
  margin-bottom: 60px;
}
#Product{
  padding: 5% 3% 5% 3%;
}
h4{
  margin-top: 30px;
}
h3{
  font-weight: bolder;
}
/* FEATURES */
#Features{
  background-color:#7868E6;
  padding: 7% 10%;
}
.sub {
  padding-bottom: 1rem;
  text-align: left;
  width: 40%;
  font-size: 1.3rem;

}
.icon{
  color: #FF7777;
  padding-bottom: 1rem;
  text-align:

}
.icon:hover{
  color: #F0D9FF;
}
.row{
  display: flex;
  justify-content: center;
}
/* TESTIMONIAL SECTION */
.testimonial-image{
  text-align:center;
  width: 10%;
  border-radius: 100%;
}
.carousel-item{
  text-align: center;
  font-size: 3rem;
  padding: 10% 7%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #7868E6;
}

em{
  font-size: 2rem;
}
#cta{
  background-color: #7868E6;
  text-align:center;
  padding: 7% 15%;
  font-size: 3rem;
}
.call-to-action{
  font-size: 3.2rem;
  text-align: center;
}
#footer{
  text-align: center;
  padding: 10% 7%;
}
.footer-icon{
  margin-right: 15px;
}
.icons{
  margin-bottom: 20px;
}
